<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico</title>
    <!-- Inclua o Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<!-- Adicione um canvas para o gráfico -->
<canvas id="myChart" width="700" height="330"></canvas>

<script>
    // Agrupar valores por minuto e calcular a média
    var groupedData = {};
    {% for value in values_last_31_days %}
        var timestamp = new Date('{{ value[3] }}');
        timestamp.setHours(timestamp.getHours() -3);

        var minuteKey = timestamp.toLocaleString('pt-br', { month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' });

        if (!groupedData[minuteKey]) {
            groupedData[minuteKey] = { count: 0, value1: 0, value2: 0, value3: 0 };
        }

        groupedData[minuteKey].count++;
        groupedData[minuteKey].value1 += parseFloat('{{ value[2][13:-49] }}');
        groupedData[minuteKey].value2 += parseFloat('{{ value[2][34:-28] }}');
        groupedData[minuteKey].value3 += parseFloat('{{ value[2][59:-4] }}');
    {% endfor %}

    // Preparar dados para o gráfico
    var labels = Object.keys(groupedData);

    var dataValue1 = labels.map(function (key) {
        var sum = groupedData[key].value1;
        var count = groupedData[key].count;
        if (count > 0) {
            var average = sum / count;
            // Se a média estiver fora do intervalo desejado, defina como NaN
            if (average < -50 || average > 150) {
                return NaN;
            }
            return average.toFixed(2);
        } else {
            return NaN;
        }
    });

    var dataValue2 = labels.map(function (key) {
        var sum = groupedData[key].value2;
        var count = groupedData[key].count;
        if (count > 0) {
            var average = sum / count;
            // Se a média estiver fora do intervalo desejado, defina como NaN
            if (average < -50 || average > 150) {
                return NaN;
            }
            return average.toFixed(2);
        } else {
            return NaN;
        }
    });

    var dataValue3 = labels.map(function (key) {
        var sum = groupedData[key].value3;
        var count = groupedData[key].count;
        if (count > 0) {
            var average = sum / count;
            // Se a média estiver fora do intervalo desejado, defina como NaN
            if (average < -50 || average > 150) {
                return NaN;
            }
            return average.toFixed(2);
        } else {
            return NaN;
        }
    });

    // Criar um gráfico
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Temperatura',
                data: dataValue1,
                borderColor: 'rgba(240, 100, 100, 1)',
                borderWidth: 1.5,
                fill: false
            }, {
                label: 'Umidade do ar',
                data: dataValue2,
                borderColor: 'rgba(100, 100, 240, 1)',
                borderWidth: 1.5,
                fill: false
            }, {
                label: 'Umidade do solo',
                data: dataValue3,
                borderColor: 'rgba(100, 240, 100, 1)',
                borderWidth: 1.5,
                fill: false
            }]
        },
        options: {
            scales: {
                x: [{
                    type: 'linear',
                    position: 'bottom',
                    ticks: {
                        stepSize: 1
                    }
                }],
                y: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

</body>
</html>
